<!-- start footer/custom snippets -->
<div class="ionio-footer">
    {%  for category in site.data.shortcuts.categories %}
    <ul class="ionio-footer-list">
        <li><a class="ionio-footer-list__link--bold" href={{ category.url }}>{{ category.name }}</a></li>
        {% for reference in category.links %}
            {% if reference.external == true %}
        <li class="ionio-footer-list__item"><a class="ionio-footer-list__link" href="{{ reference.url | absolute_url }}" rel="permalink" target="_blank">{{ reference.name }}</a></li>
            {% else %}
        <li classs="ionio-footer-list__item"><a class="ionio-footer-list__link" href={{ category.base_url }}{{ reference.url }}>{{ reference.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
</div>
<!-- end footer/custom snippets -->