.ionio-footer {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    
    @include breakpoint(660px) {
        flex-direction: row;
    }
}

.ionio-footer-list {
    padding: 0;
    padding-left: 1rem;
    list-style: none;

    &__item {
        display: block; 

    }

    &__link {
        color: white;
        text-transform: none;
        font-size: 1em;
        font-weight: normal;

        &--bold {
            font-weight: bold;
        }
    }
}

.learn_more{
  color: #40514e;
  text-decoration: underline rgb(64, 81, 78);
}


.backgroundvid{
  position: relative;
  height: 600px;
  overflow: hidden;
  max-width: 100%;
    
  img {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    z-index: -2;
  }  
}
